<header>
    <a href="/">Home</a></br>
    <a href="/about">about</a>
    <p> Welcome to our website its {{getCurrentYear}} and we are on fire in market .</p>
    <p> what are you waiting for register now !</p>
</header>