<html>
    <head>
        <meta charset="utf-8">
        <title>Home page</title>
    </head>
    <body>
        {{> header}}
        <h1>hello from {{pageTitle}} </h1>
        <p>this is amazing ! </p>
        <footer>
            <p>copy rigth {{currentYear}}</p>
        </footer>
    </body>

</html>